<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.swjtu.gcmformojo"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">


    <!-- [应用使用权限] -->
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">

        <activity
            android:name=".CurrentUserActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".FragmentPreferences"
            android:label="Settings" />

        <activity
            android:name=".DialogActivity"
            android:theme="@style/MyDialog"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".HelpActivity"/>

        <activity
            android:name=".TokenActivity"
            android:theme="@style/MyDialog"/>

        <activity android:name=".QqContactsActivity"/>

        <activity
            android:name=".QqPausedNotificationActivity"
            android:theme="@style/MyDialog">
        </activity>

        <!-- [应用自定义广播接收器，用于通知点击事件] -->
        <receiver
            android:name=".SysNotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="sys_notification_cancelled"/>
                <action android:name="sys_notification_clicked"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".QqNotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="qq_notification_cancelled"/>
                <action android:name="qq_notification_clicked"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".WeixinNotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="weixin_notification_cancelled"/>
                <action android:name="weixin_notification_clicked"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".QqPausedNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="qq_notification_paused"/>
            </intent-filter>
        </receiver>
        <!-- [应用自定义广播接收器结束] -->


        <!-- [FCM服务注册] -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [Fcm令牌获取] -->
        <service
            android:name=".MyFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->





    </application>

</manifest>